body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: black;
    background-color:dimgray;
}

#muffin-button {
    padding: 30px;
    padding-bottom: 0;
    width: 40%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background-color: inherit;
    border: none;
    cursor: pointer;
}

#muffin-image {
    width: 100%;
}

.button-row {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.upgrade {
    display: inline-block;
    width: 20%;
    padding: 30px;
    padding-top: 0;
    padding-right: 0;
    margin: 0 20px;
    background-color: gray;
    border-radius: 20px;
    border-width: 0px;
}

.group {
    padding-top: 30px;
    padding-right: 30px;
}

.content {
    display: flex;
    justify-content: center;
}

.info-text {
    text-align: center;
}

.upgrade-image {
    height: 200px;
    margin: 20px 0;
}

.header {
    margin: 0;
    display: flex;
    justify-content: center;
    font-size: 32px
}

h1.header {
    margin: 20px 0;
    font-size: 40px;
}

span {
    font-size: 20px;
}

.info-image {
    height: 20px;
    margin-top: 10px;
    margin-right: 10px;
    float: right;
}

.description {
    display: none;
}

#muscle-info:hover + #muscle-description {
    display: block;
    position: absolute;
    z-index: 1;
    width: 285px;
    background-color: cornflowerblue;
    padding: 10px;
    border-radius: 10px;
}

#sibling-info:hover + #sibling-description {
    display: block;
    position: absolute;
    z-index: 1;
    width: 285px;
    background-color: cornflowerblue;
    padding: 10px;
    border-radius: 10px;
}

.grow { 
    transition: all .2s ease-in-out; 
}

.grow:hover { 
    transform: scale(1.1); 
}

#muffins-owned {
    padding-top: 30px;
}

#win-header {
    display: none;
    font-size: 75px;
    padding: 50px;
}

#final-time-header {
    display: none;
}